config.stopBubbling = true
lombok.getter.lazy.flagUsage = error
lombok.equalsAndHashCode.flagUsage = error
lombok.experimental.flagUsage = error
lombok.fieldDefaults.flagUsage = error
lombok.log.flagUsage = allow
lombok.log.jbosslog.flagUsage = error
lombok.log.slf4j.flagUsage = allow
lombok.log.xslf4j.flagUsage = error
lombok.log.javaUtilLogging.flagUsage = error
lombok.log.log4j.flagUsage = error
lombok.log.log4j2.flagUsage = error
lombok.log.apacheCommons.flagUsage = error
lombok.NonNull.flagUsage = error
lombok.RequiredArgsConstructor.flagUsage = error
lombok.Setter.flagUsage = error
lombok.Value.flagUsage = error
lombok.Builder.flagUsage = allow
lombok.Data.flagUsage = error
lombok.SneakyThrows.flagUsage = error
lombok.ToString.flagUsage = error
