<?xml version="1.0" encoding="UTF-8"?>
<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0"
          xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
          xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0 https://maven.apache.org/xsd/settings-1.0.0.xsd">

    <servers>
        <server>
            <id>eln002559.corp.telenet.be:31003</id>
            <username>admin</username>
            <password>admin123</password>
        </server>
        <server>
            <id>edev-releases</id>
            <username>deployment</username>
            <password>nxsdplrel83</password>
        </server>
        <server>
            <id>edev-snapshots</id>
            <username>deployment</username>
            <password>nxsdplrel83</password>
        </server>
    </servers>

    <mirrors>
        <mirror>
            <id>new.telenet.eservices.public</id>
            <mirrorOf>
                *,!proxy-public-tln-rel,!nexus-tn-public,!nexus-tn-edev-releases,!nexus-tn-edev-snapshots,!nexus-other,!nexus-tn2-public,!edev-releases,!edev-snapshots,!edev-releases-proxy
            </mirrorOf>
            <url>https://artifact-repo.rel.apps.telenet.be/nexus/content/groups/public</url>
        </mirror>
    </mirrors>

    <profiles>
        <profile>
            <id>nexus-tn2</id>
            <activation>
                <activeByDefault>true</activeByDefault>
            </activation>
            <repositories>
                <repository>
                    <id>nexus-tn2-public</id>
                    <url>https://artifact-repo.rel.apps.telenet.be/repository/maven-public</url>
                    <releases>
                        <enabled>true</enabled>
                        <checksumPolicy>warn</checksumPolicy>
                    </releases>
                    <snapshots>
                        <enabled>false</enabled>
                        <checksumPolicy>warn</checksumPolicy>
                    </snapshots>
                </repository>
                <!--release repos -->
                <repository>
                    <id>edev-releases</id>
                    <url>https://artifact-repo.rel.apps.telenet.be/repository/edev-releases</url>
                    <releases>
                        <enabled>true</enabled>
                        <checksumPolicy>warn</checksumPolicy>
                    </releases>
                    <snapshots>
                        <enabled>false</enabled>
                        <checksumPolicy>warn</checksumPolicy>
                    </snapshots>
                </repository>
                <repository>
                    <id>edev-releases-proxy</id>
                    <url>https://artifact-repo.rel.apps.telenet.be/repository/edev-releases-proxy</url>
                    <releases>
                        <enabled>true</enabled>
                        <checksumPolicy>warn</checksumPolicy>
                    </releases>
                    <snapshots>
                        <enabled>false</enabled>
                        <checksumPolicy>warn</checksumPolicy>
                    </snapshots>
                </repository>
                <repository>
                    <id>edev-snapshots</id>
                    <url>https://artifact-repo.rel.apps.telenet.be/repository/edev-snapshots</url>
                    <releases>
                        <enabled>false</enabled>
                    </releases>
                    <snapshots>
                        <enabled>true</enabled>
                    </snapshots>
                </repository>
                <repository>
                    <id>proxy-public-tln-rel</id>
                    <url>https://artifact-repo.rel.apps.telenet.be/repository/proxy-public-tln-rel</url>
                    <releases>
                        <enabled>true</enabled>
                        <checksumPolicy>warn</checksumPolicy>
                    </releases>
                    <snapshots>
                        <enabled>false</enabled>
                        <checksumPolicy>warn</checksumPolicy>
                    </snapshots>
                </repository>
            </repositories>

            <pluginRepositories>
                <pluginRepository>
                    <id>nexus-tn2-public</id>
                    <url>https://artifact-repo.rel.apps.telenet.be/repository/maven-public</url>
                    <releases>
                        <enabled>true</enabled>
                    </releases>
                    <snapshots>
                        <enabled>false</enabled>
                    </snapshots>
                </pluginRepository>
                <pluginRepository>
                    <id>edev-releases</id>
                    <url>https://artifact-repo.rel.apps.telenet.be/repository/edev-releases</url>
                    <releases>
                        <enabled>true</enabled>
                    </releases>
                    <snapshots>
                        <enabled>false</enabled>
                    </snapshots>
                </pluginRepository>
                <pluginRepository>
                    <id>edev-snapshots</id>
                    <url>https://artifact-repo.rel.apps.telenet.be/repository/edev-snapshots</url>
                    <releases>
                        <enabled>false</enabled>
                    </releases>
                    <snapshots>
                        <enabled>true</enabled>
                    </snapshots>
                </pluginRepository>
            </pluginRepositories>
        </profile>
    </profiles>
</settings>
